$bgColor: rgb(228, 19, 54);
$fontColor: rgb(49, 201, 130);
$borderSize: 2px;
%centered{
    display:flex;
    justify-content: center;
    align-items: center;
}
body{
    .secMain{
        @extend %centered;
        article{
            border:2px dashed red;
            @extend %centered;
            flex:2;
        }
        div{
            flex:1;
            border:2px dashed red;
            @extend %centered;
            padding:2%;
        
        }
    }
    .reverse{flex-direction: row-reverse;}

    .grid{
        border:2px dashed violet;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "p1 p2 p3"
        "p6 p4 p5";
        div{
            height:25vh;
            border:20px solid #000;
            background-size: cover;
            background-position:center;


            @for $i from 1 through 6{
                &:nth-child(#{$i}){
                    background-image: url(../img/d#{$i}.jpg);
                    border-color: lighten( #000000, 15% * $i);
                    grid-area: p#{$i};
                }

            }

        }
    }




}
@for $i from 1 through 4{
    .flex-item#{$i}{ 
        font-size: 5px * $i;
        background-color: lighten(#000000, 25%*$i);
        color: darken(#fff, 25%*$i);
    }
}

.klasa{
    border:2px dashed blue;
    &:nth-child(1){
        border:2px dashed red;
    }
}